body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
}
/* header styles */
header{
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 12px;
    height: 55.5px;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 100;
}
.logo img{
    width: 100px;
    height: 60px;
    margin-left: 100px;

}
/* navbar styles */
nav{
    display: flex;
    gap: 50px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: #444;
    padding: 8px;
    border-radius: 10px;
    transition: 0.4s;
}
nav a:hover, a.active{
    background: #097ef4;
    color: white;
}
/* content sections styles */
.content-section{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
    gap: 100px;
    padding: 20px;
}
.content-section.active{
    display: flex;
}
#students, #fees{
    justify-content: center;
    align-items: center;
}
/* home section styles */

.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    zoom: 0.8;
    height: fit-content;
}
.new-student-form h1{
    text-align: center;
}
.form input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #444;
}
.form label{
    font-weight: bold;
}
.form button{
    padding: 10px;
    background: #097ef4;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}
table{
    border: 1px solid #444;
    padding: 20px;
    border-collapse: collapse;
    width: 50%;
}
td, th{
    padding: 20px;
    border: 1px solid #555;
}
th{
    background: #097ef4;
    color: white;
}
#timetables .form{
    width: 200px;
}
@media(max-width:1200px){
    header{
        position: fixed;
        z-index: 999;
        flex-direction: column;
        width: 20%;
        height: 100vh;
        gap: 40px;
        align-items: center;
        padding: 0;
        transform: translateX(0);
        transition: 0.4s ease;
        background: white;
    }
    .content-section{
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .logo img{
        height: 150px;
        width: 200px;
        margin-right: 200px;
    }
    nav{
        margin: 0;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        
    }
    nav ul{
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul a{
        font-size: large;
        padding: 10px;
        margin-right: 100px;
    }
    nav ul a:hover, a.active{
        font-weight: bold;
    }
    .open-nav{
        display: block;
        position: fixed;
        z-index: 1000;
    }
    .close-nav{
        position: absolute;
        right: 0;
    }
    .close{
        font-weight: bolder;
        border-radius: 2px;
        border-right: none;
    }
    .hide-sidebar{
        transform: translateX(-100%);
        transition: 0.4s ease;
    }
    .home-details img{
        left: 50%;
    }
    .home-txt{
        left: 30%;
        top: 65%;
    }
    .gown-icon{
        left: 30%;
        top: 0%;
    }
    .home-details img{
        left: 40%;
        top: 1%;
        width: 350px;
    }
}
@media(max-width:700px){
    nav ul a{
        font-size: small;
        padding: 10px;
        margin-right: 50px;
    }
    header{
        width: 30%;
    }
    .logo img{
        width: 100px;
        height: 100px;
    }
    .logo{
        margin-left: 50px;
    }
    .gown-icon{
        left: 15%;
        top: 15%;
    }
}