body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}
/* header styles */
header{
    width: 100%;
    height: 45px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    background: white;
    padding: 12px;
    position: fixed;
    z-index: 101;
}

/* logo styles */
.logo{
    display: flex;
    color: black;
    font-size: large;
    font-weight: 500;
}
.logo img{
    width: 50px;
    height: 50px;
}

/* navbar styles */
nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.navigation-bar-icon{
    display: none;
}
.nav-links a{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
    color: #444;
    font-weight: 500;
}
.nav-links a:hover,  a.active{
    background: #097ef4;
    color: white;
}

/* content sections */
.content-section{
    position: relative;
    top: 10%;
    right: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
}
.content-section.active{
    display: flex;
}

/* sections */
/* home dashboard */
.dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dashboard-card{
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 20px;
}
.card-title{
    display: flex;
    gap: 10px;
}
.card-title h4{
    font-weight: 400;
    font-size: large;
    letter-spacing: 2px;
}
#gpa .card-title .card-icon{
    background: rgb(200, 251, 200);
    padding: 15px;
    border-radius: 50px;
    font-size: xx-large;
    font-weight: 400;
    color: green;
    display: flex;
    align-items: center;
}
.progress-bar{
    background: #a29f9f;
    width: 100%;
    height: 20px;
    border-radius: 20px;
}
#gpa .progress-bar span{
    display: block;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(135deg, #b7faa6, #2ca02c);
}
.progress-desc{
    display: flex;
    justify-content: space-between;
    color: #444;
}
#gpa .mini-card{
    width: 99%;
    padding: 10px;
    background: #c8f3bd;
    border-radius: 20px;
}
#fees-dashboard-card .card-title .card-icon{
    background: #097ef4;
    padding: 15px;
    border-radius: 100%;
    font-size: xx-large;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
}
#fees-dashboard-card .progress-bar span{
    background: linear-gradient(135deg, #6ca8e4, #097ef4);
    height: 100%;
    border-radius: 20px;
    display: block;
}
#fees-dashboard-card .mini-card{
    width: 99%;
    padding: 10px;
    background:  #097ef4;
    border-radius: 20px;
    color: white;
}
#balance{
    color: red;
}
#units-progress .card-title .card-icon{
    background: #d73cef;
    padding: 15px;
    border-radius: 100%;
    font-size: xx-large;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
}
#units-progress .progress-bar span{
    background: linear-gradient(135deg, #d96bea, #d73cef);
    display: flex;
    width: 35%;
    height: 100%;
    border-radius: 20px;
}
#units-progress .mini-card{
    background: #e093ec;
    width: 99%;
    border-radius: 20px;
    padding: 10px;
}
/* information update section */
.student-details{
    display: flex;
    gap: 20px;
    margin: 2% 25%;
}
.student-details p{
    color: #444;
    font-size: small;
}
.personal-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
table{
    border: 1px solid #2b2b2b;
    border-collapse: collapse;
    width: 900px;
}
th, td{
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
    font-size: large;
}
.personal-details input{
    border: none;
    background-color: none;
    outline: none;
}
.personal button{
    padding: 10px;
    border: none;
    margin-left: 40%;
    background: #097ef4;
    color: white;
    font-weight: bolder;
    font-size: large;
    border-radius: 0 0 20px 20px;
}
h2{
    text-align: center;
}

/* fees section styles */

.fees-statement{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fees-statement th{
    background: #097ef4;
    color: white;
}

/* chatbot section styles */
.chatbot-section{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
    background: white;
    position: fixed;
    top: 23%;
    right: 10px;
    padding: 0 20px;
    border-radius: 20px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
}
.chatbot-section.active{
    opacity: 1;
}
.open-btn{
    position: fixed;
    top: 90%;
    right: 20px;
    z-index: 100;
    background: #097ef4;
    color: white;
    font-weight: 900;
    border-radius: 50px;
    border: none;
    padding: 10px;
}
.close-btn{
    position: absolute;
    left: 0;
}
.close-btn button{
    border-radius: 20px 0 0 0;
    border: none;
    color: white;
    background: #097ef4;
    width: 100px;
}
.chat-box{
    height: 86%;
}
.input-area{
    border: 1px solid #444;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.input-area input{
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
}
.input-area button{
    border: none;
    border-radius: 50px;
    padding: 10px;
    color: white;
    font-weight: 900;
    background: #097ef4;
}

/* timetable section styles */
.timetable{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table th{
    background: #097ef4;
    color: white;
    font-weight: bolder;
}

/* course registration section styles */

.register-course{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
}
.register-course input{
    border-radius: 20px;
    border: 1px solid #444;
    outline: none;
    padding: 5px;
}
#registerBtn{
    padding: 10px;
    width: 100px;
    border: none;
    background: #097ef4;
    color: white;
    font-weight: bolder;
    border-radius: 0 0 10px 10px;
}
#courseForm{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
/* request section styles */
.request-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.request-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
}

.request-form textarea{
    width: 440px;
    height: 200px;
    outline: none;
    padding: 15px 20px;
}
#request-btn{
    display: flex;
    align-items: center;
    border: none;
    background: #097ef4;
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
select{
    outline: none;
}


/* media queries */
/* big screens */

/* small screens */
@media(max-width: 1200px){
    .side-bar{
        position: fixed;
        height: 97vh;
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 99;
        background-color: white;
        transform: translateX(0);
        transition: 1s ease;
    }
    nav ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    nav ul a{
        font-size: 10px;
        color: #444;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        transition: all 0.3s ease;
        padding: 5px;
    }
    .content-section{
        position: relative;
        background: white;
        width: 100%;
        height: 100%;
        top: 0;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo img{
        width: 100px;
        height: 100px;
    }
    table{
        background: white;
        width: 700px;
    }
    th,td{
        font-size: medium;
        width: fit-content;
    }
    .student-details p{
        font-size: 11px;
        color: black;
        font-weight: 400;
    }
    .student-details{
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 0;
        gap: 5px;
    }
    .personal{
        width: 100%;
        zoom: 0.7;
    }
    .personal table{
        height: 500px;
    }
    .close-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        font-weight: bolder;
    }
    .hide-sidebar{
        transform: translateX(-110%);
        transition: 1s ease;
    }
    .open-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
    }
    .chatbot-section{
        top: 0;
        right: 10px;
        width: 50%;
        height: 100vh
    }
    .open-btn{
        right: 20px;
    }
}
@media(max-width:700px){
    .side-bar{
        width: 35%;
    }
     td, th{
        width:fit-content;
        font-size: 10px;
        font-weight: medium;
    }
    table{
        width: 450px;
    }
    td{
        padding: 5px;
    }
    .personal{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
}
