body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
}
/* header styles */
header{
    width: 100%;
    height: 60px;
    display: flex;
    gap: 1rem;
    padding: 0;
    background: #097ef4;
    justify-content: space-between;
}
.navigation-btn{
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 100%;
    align-items: center;
}
.logo{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background: #1509f4;
}
.logo img{
    width: 60px;
    background: white;
    border-radius: 50%;
}
.user-profile{
    display: flex;
    color: white;
    width: 200px;
    align-items: center;
}
.user-profile input{
    width: 60px;
}
nav{
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    width: 280px;
    background: #444;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1000;
    height: 100vh;
    transition: transform 0.6s ease;
}
nav.active{
    transform: translateX(0);
}
.dropdown{
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
}
.dropdown i{
    font-size: x-large;
}
.dropdown-menu {
    border-left: 1px solid #dedbdb;
    border-right: 1px solid #dedbdb;
    border-bottom: 1px solid #dedbdb;
    border-radius: 10px;
    padding: 5px 0;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
    min-width: 180px;
    font-size: small;
}
.dropdown-menu i{
    font-size: small;
}

.dropdown-menu.active {
    max-height: 500px;
    opacity: 1;
}
.nav-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.nav-links li {
    list-style: none;
    width: 100%;
}

.nav-links li a {
    display: flex;
    gap: 10px;       
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
    align-items: center;
}

.nav-links a:hover {
    background: #605f5f;
}
/* content sections styles */
.content-section{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.content-section.active{
    display: flex;
}
/* Dashboard */
.dashboard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dashboard-header{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.fees{
    background: #f409ae;
}
.students{
    background: #bd09f4;
}
.courses{
    background: #097ef4;
}
.header-card{
    width: 300px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    color: white;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-bottom i{
    font-size: xx-large;
}

.statistics-card{
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 1rem;
}
.statistics-card h2{
    color: #444;
}
.statistics-card .card-header{
    display: flex;
    justify-content: space-between;
}
.statistics-card .card-header p{
    padding: 10px;
    background: #dedbdb;
    border-radius: 10px;
}
.statistics-card .progress-bar{
    width: 100%;
    background: #dedbdb;
    height: 20px;
    border-radius: 20px;
}
.statistics-card .card-bottom{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    color: #444;
}
.progress-fill{
    background: #097ef4;
    height: 100%;
    width: 0%;
    display: block;
    border-radius: 20px;
    transition: width 0.5s ease;
}
#requests{
    align-items: center;
    justify-content: center;
}
#students, #fees{
    justify-content: center;
    align-items: center;
}
/* home section styles */

.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    zoom: 0.8;
    height: fit-content;
}
#request-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    zoom: 0.8;
    height: fit-content;
}
#request-form button{
    padding: 20px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: #097ef4;
    color: white;
}
#request-form input{
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #444;
}
.new-student-form h1{
    text-align: center;
}
.form input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #444;
}
.form label{
    font-weight: bold;
}
.form button{
    padding: 10px;
    background: #097ef4;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}
table{
    border: 1px solid #444;
    padding: 20px;
    border-collapse: collapse;
    max-width: 900px;
}
td, th{
    border: 1px solid #555;
    padding: 5px;
    font-size: 10px;
}
th{
    background: #097ef4;
    color: white;
}
#timetables .form{
    width: 200px;
}

@media(max-width:1200px){
    .header-card{
        max-width: 300px;
    }
    td, th{
        font-size: 8px;
    }
    .content-section{
        padding: 0;
    }
    .dashboard{
        width: 100%;
    }
    .dashboard-header{
        justify-content: center;
    }
}